# Railway define PORT automaticamente.
# PORT=3000

# CORS
# Em produção, troque * pelo domínio do Cloudflare Pages.
CORS_ORIGIN=*

# PostgreSQL Railway
# Preenchido automaticamente se você adicionar um banco PostgreSQL no Railway.
DATABASE_URL=
PGSSL=true

# SMTP para envio do e-mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_senha_de_app

# Remetente e cópia para você
MAIL_FROM="Alberto Brito <seuemail@gmail.com>"
OWNER_EMAIL=seuemail@gmail.com
